.custom-file-upload {
    background-color: #EFEFEF;
    border: none;
    padding: 0.6rem 0.5rem;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.212);
    outline: none;
    position: relative;
    top: 5px;
    color: #5E2075;
    font-size: smaller;
  }
.InputEscondido{
    display: none;
}
/* 
label{

} */