.user-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.user-container header {
    flex: 3.5; /* Ocupa 40% da largura */
    background-image: url("../../assets/ProfileImages/ProfileBanner.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 0.3em solid #FE690E;
}

.user-container main {
    flex: 6.5; /* Ocupa 60% da largura */
    background-color: #FEFCFF;
}

.user-container header .side-menu{
    display: flex;
    justify-content: flex-end;
    font-size: 3em;
    
}

