.reg-inputbar-container{
    padding-bottom: 3vh;
}
.reg-inputbar-container p{
    font-size: large;
    color: #5E2075;
    margin-left: 1em;

}

.reg-inputbar-container input {
    background-color: #EFEFEF;
    border: none;
    width: 25em;
    padding: 1em 1em 1em 1em; 
    border-radius: 35px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    outline: none;
    box-sizing: border-box;
    font-size: 1em;
    color: #5E2075;
}


input::placeholder{
    color: #5E2075;
    font-size: 1em;
}
